# Build output
bin/
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Debug files
*.dSYM/

# IDE and editor files
.vscode/
.idea/
*.swp
# *~

# macOS
.DS_Store

# output
output/

alfred4_color/*
alfred4_graphics/*
alfred7/*
alfred9_remap_tables/*
alfred9_rooms/*
backgrounds_color
buda_scan
confirmed_images
cursors_enhanced
